<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chron Technology</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="index_page">
    <header>
        <nav>
            <h1 class="websitelogo">Chron Technology</h1>
        </nav>

        <div class="topnav">
            <div class="nav-left">
                <a class="notactive_page" href="/">Home</a>
                {% if session.get('user_id') %}
                <a class="notactive_page" href="conditions">Conditions</a>
                <a class="notactive_page" href="log">Log</a>
                <a class="notactive_page" href="summary">Summary</a>
                <a class="active_page" href="contact">Contact</a>
                {% endif %}
            </div>
            <div class="nav-right">
                {% if session.get('user_id') %}
                <div class="dropdown">
                    <span class="dropdown-toggle">Account</span>
                    <div class="dropdown-menu">
                        <a href="/account">My Account</a>
                        <a href="/signout">Sign Out</a>
                    </div>
                </div>
                {% else %}
                <a class="notactive_page" href="signup">SignUp</a>
                <a class="notactive_page" href="signin">SignIn</a>
                {% endif %}
            </div>
        </div>
        <!-- <img src="/static/images/header_image.png" alt="Header image" class="header-image"> -->
    </header>

    <main>
        <section>
            <h2>Contact</h2>
        </section>
        <div>
            <h3>Email with Enquries or Suggestions to Impove the Site</h3>
            <p>email</p>
        </div>
        <div>
            <h3>About The Developer</h3>
            <p>Jackson Keen</p>
            <p>I am solo developer trying to use my programming abilities for good and make a difference.</p>
            <p>I have been inspired to have a heavy focus on developing a chronic condition manager due to the lack of availability for free serveces for those with chronic conditions. This has been brought to my attention with the struggles faced by those closest to me and their struggles with limited support with software online.</p>
        </div>
    </main>

    <footer>
        <p>&copy; 2026 Chron Technology. All rights reserved.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
