<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spoonie</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="index_page">
    <header>
        <nav>
            <a href="/"><img src="/static/images/spoonielogo.png" alt="Spoonie" class="websitelogo" height="80"></a>
        </nav>

        <div class="topnav">
            <div class="nav-left">
                <a class="notactive_page" href="/">Home</a>
                {% if session.get('user_id') %}
                <a class="notactive_page" href="conditions">Conditions</a>
                <a class="notactive_page" href="log">Log</a>
                <a class="notactive_page" href="summary">Summary</a>
                <a class="active_page" href="contact">Contact</a>
                {% endif %}
            </div>
            <div class="nav-right">
                {% if session.get('user_id') %}
                <div class="dropdown">
                    <span class="dropdown-toggle">Account</span>
                    <div class="dropdown-menu">
                        <a href="/account">My Account</a>
                        <a href="/signout">Sign Out</a>
                    </div>
                </div>
                {% else %}
                <a class="notactive_page" href="signup">SignUp</a>
                <a class="notactive_page" href="signin">SignIn</a>
                {% endif %}
            </div>
        </div>
    </header>

    <main>
        <section>
            <h2 class="topPageHeadings">Contact</h2>
        </section>

        <div class="summary-section">
            <h3>Get in Touch</h3>
            <p>Email with enquiries or suggestions to improve the site:</p>
            <p><strong>jacksondkeen@gmail.com</strong></p>
        </div>

        <div class="summary-section">
            <h3>About The Developer</h3>
            <p><strong>Jackson Keen</strong></p>
            <p>I am a solo developer trying to use my programming abilities for good and make a difference.</p>
            <p>I have been inspired to focus heavily on developing a chronic condition manager due to the lack of free services available for those with chronic conditions. This has been brought to my attention through the struggles faced by those closest to me and their limited support from software online.</p>
        </div>
    </main>

    <footer>
        <p>&copy; 2026 Spoonie. All rights reserved.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
